@import '../../styles/vars';
.post-item {
  grid-column: 4 span;
  &:first-child {
    grid-column: 12 span;
    display: flex;
    justify-content: space-between;
    .post-item__link {
      width: 670px;
      height: 400px;
    }
    .post-item__body {
      max-width: 470px;
      width: 100%;
    }
    .post-item__title {
      font-size: 24px;
      line-height: 28px;
    }
    .post-item__content {
      -webkit-line-clamp: 6;
      line-clamp: 6;
    }
  }
  &__link {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 20px;
    width: 370px;
    height: 270px;
    z-index: 1;
    margin-bottom: 20px;
    &::before {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
      opacity: 0;
      transition: opacity .2s ease;
      z-index: 1;
    }
    &:hover {
      &::before {
        opacity: 1;
      }
      .post-item__link-circle {
        opacity: 1;
      }
    }
  }
  &__link-circle {
    position: absolute;
    top: calc(50% - 37px);
    left: calc(50% - 37px);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: $main;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: 10;
    transition: opacity .2s ease-in-out;
  }
  &__link-arrow {
    width: 20px;
    height: 20px;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
  }
  &__type {
    display: block;
    font-size: 14px;
    line-height: 17px;
    color: $main;
    margin-bottom: 15px;
  }
  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  &__content {
    font-size: 15px;
    line-height: 18px;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 15px;
  }
  &__author {
    display: flex;
    align-items: center;
  }
  &__author-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  &__author-info {
  }
  &__author-nik {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 5px;
  }
  &__date {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
  }
}
